<table style="width:100%">
    <tr>
        <td><h1>Add Provider</h1></td>
        <td style="float:right">
            <a href="/">
                <button type="button" class="btn btn-info" value="edit">Dashboard</button>
            </a>
        </td>
    </tr>
</table>
<%= form_for :'providers', url: providers_path do |f| %>
<% if @providers.errors.any? %>
    <% @providers.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg %></div>
    <% end %>
<% end %>
<table class="table table-striped">
    <tr>
    <td><%= f.label :Anonymous %>&nbsp&nbsp<%= f.check_box(:anonymous, {:onclick => 'alert("Here")'}) %></td>
    <td><%= f.label :Name %>&nbsp&nbsp<%= f.text_field :Name %></td>
    </tr>
    <tr>
    <td><%= f.label :'Provider Type' %></td>
    <td><%= f.select :DType, [['Individual','Individual'], ['Organization','Organization']] %></td>
    </tr>
    <tr>
    <td><%= f.label :'Donation Type' %></td>
    <td><%= f.select :DonType, [['Donated','Donated'], ['Purchased','Purchased']] %></td>
    </tr>
    <tr>
    <td colspan="2"><%= f.submit %></td>
    </tr>
</table>
<% end %>
