<table style="width:100%">
    <tr>
        <td><h1>Add Student</h1></td>
        <td style="float:right">
            <a href="/">
                <button type="button" class="btn btn-info" value="edit">Dashboard</button>
            </a>
        </td>
    </tr>
</table>
<%= form_for :'items', url: items_path do |f| %>
<% if @items.errors.any? %>
    <% @items.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg %></div>
    <% end %>
<% end %>
<table class="table table-striped">
    <tr>
        <td><%= f.label :Name %></td>
        <td><%= f.text_field(:name, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td><%= f.label :ID %></td>
        <td><%= f.text_field(:id, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td><%= f.label :Items %></td>
        <td><%= f.text_field(:items, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td><%= f.label :'Quantity' %></td>
        <td><%= f.date_field(:quantity, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td><%= f.label :'Date' %></td>
        <td><%= f.date_field(:date, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td colspan="2"><%= f.submit({:class => 'btn btn-primary'}) %></td>
    </tr>
</table>
<% end %>