<%= form_for :pages do |f| %>

<%= hidden_field_tag :cart_order_id, @item.label %>
<%= hidden_field_tag :total, '%.2f' % @item.all %>
<%= hidden_field_tag :first_name, @item.bill_address.firstname %>
<%= hidden_field_tag :middle_initial, "" %>
<%= hidden_field_tag :last_name, @item.bill_address.lastname %>
<%= hidden_field_tag :phone, @item.bill_address.phone%>
<%= hidden_field_tag :email, @item.email %>

<% if pm.preferred(:test_mode) == true %>
  <%= hidden_field_tag :demo, "Y" %>
<% end %>
<%= hidden_field_tag :id_type, 1 %>
<% i = 0 %>
<% @item.line_items.each do |line_item| -%>
<%= hidden_field_tag 'c_prod_' + i.to_s, line_item.variant.product.sku + "," + line_item.quantity.to_s %>
<%= hidden_field_tag 'c_name_' + i.to_s, line_item.variant.product.name %>
<%= hidden_field_tag 'c_description_' + i.to_s, line_item.variant.product.description %>
<% i += 1 %>
<% end %>

  <p>Please press the button below to submit.</p>
  <input type="submit" name="send_form" value="Submit">
</form>
<% if pm.preferred(:inline_checkout) == true %>
<% end %>