<h1><%= @title %></h1>
<p><%= @content %></p>
<%= form_for :pages do |f| %>
    <table class="table table-striped">
        <tr>
            <td><%= f.label :Anonymous %><%= f.check_box :Anonymous %></td>
            <td><%= f.label :Name %><%= f.text_field :Name %></td>
        </tr>
        <tr>
            <td><%= f.label :'Donor Type' %></td>
            <td><%= f.select :DType, [['Individual','Individual'], ['Organization','Organization']] %></td>
        </tr>
        <tr>
            <td><%= f.label :'Donation Type' %></td>
            <td><%= f.select :DonType, [['Discounted','Discounted'], ['Free','Free']] %></td>
        </tr>
        <tr>
            <td colspan="2"><%= f.submit %></td>
        </tr>
    <% end %>
    