<h1>Item added</h1>
<table class="table table-striped">
<tr>
    <td><strong>Name: </strong></td>
    <td><%= @items.name %></td>
</tr>
<tr>
    <td><strong>Donor:</strong></td>
    <td><%= @items.donor %></td>
</tr>
<tr>
    <td><strong>Quantity:</strong></td>
    <td><%= @items.quantity %></td>
</tr>
<tr>
    <td><strong>Received Date:</strong></td>
    <td><%= @items.received %></td>
</tr>
<tr>
    <td><strong>Expiry Date:</strong></td>
    <td><%= @items.expiry %></td>
</tr>
<tr>
    <td><strong>Price:</strong></td>
    <td><%= @items.price %></td>
</tr>
<tr>
    <td colspan="2">
        <a href="/items">
            <button type="button" class="btn btn-info" value="edit">Goto Inventory</button>
        </a>
    </td>
</tr>
</table>