<table style="width:100%">
    <tr>
        <td><h1>Add new appliance</h1></td>
        <td style="float:right">
            <a href="/">
                <button type="button" class="btn btn-info" value="edit">Dashboard</button>
            </a>
        </td>
    </tr>
</table>
<%= form_for :'appinventory', url: appinventory_path do |f| %>
<% if @appinventory.errors.any? %>
    <% @appinventory.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg %></div>
    <% end %>
<% end %>
<table class="table table-striped">
    <tr>
        <td><%= f.label :Name %></td>
        <td><%= f.text_field(:name, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td><%= f.label :'Appliance Quantity' %></td>
        <td><%= f.text_field(:totalquantity, {:class => 'form-control'}) %></td>
    </tr>
    <tr>
        <td colspan="2"><%= f.submit({:class => 'btn btn-primary'}) %></td>
    </tr>
</table>
<% end %>